<div class="col-xs-10 col-xs-offset-1 about">
  <h1>About Splurty</h1>
  <p>
    This Splurty was built by <a target="_blank" href="https://splurty-laura-kelly.herokuapp.com/">Laura</a>. 
    A newbie to the web development world hoping to gain the technical skills needed to find something interesting to do for a next career!
  </p>
  <br />
  <p>
    Looking forward to helping friends update their own websites, as well as continuing to learn other aspects of web develoment.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="col-xs-12 col-sm-4">
    <%= image_tag 'golfglasses.jpg', class: 'img-responsive' %>
  </div>

  <div class="col-xs-12 col-sm-7 col-sm-offset-1">
    <h2 class="text-center">Laura Kelly</h2>
    <br />
    <p>
      Laura is giving web development a try after many years programming in the biotech industry.
    </p>
  </div>
  <br class="clear" />
  
</div>

<br class="clear" />
<br />
<br />
<br />
<br />